
.WorkoutsMain .containerTop {
    display: flex;
    flex-direction: row;
    margin: 5px 2%;
}

.containerTop .button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 10px;
    width: 180px;
    border-radius: 35px;
    text-align: center;
}

.WorkoutsMain .button.One {
    background-color: rgb(72, 163, 248);
    margin-right: 20px;
}

.WorkoutsMain .button.Two {
    background-color: rgb(137, 137, 138);
}
