.OurGoal {
    text-align: center;
    --icon-dimensions: 30px;
    --mobile-icon-dimensions: 20px;
}

.OurGoal h1 {
    margin: 0;
}

.OurGoal hr {
    width: 50%;
    margin: 0 auto;
}

.OurGoal .subtext {
    font-size: 10px;
    padding: 0 10px;
}

.OurGoal .container {
    width: 100%;
    position: relative;
}

.OurGoal .image {
    width: 100%;
}

.OurGoal .overlay {
    position: absolute;
    height: 100%;
    padding-top: 80px;
    width: 220px;
    /* border: 3px ridge brown; */
}

.OurGoal .iconAndText {
    /* border: thin blue solid; */
    display: flex;
    /* align-items: center; */
    margin-left: 5px;
}

.OurGoal .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgoldenrodyellow;
    /* box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.56); */
}

.OurGoal .iconAndText .slidingText {
    /* border: thin white solid; */
    color: lightgoldenrodyellow;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.OurGoal button {
    width: 60%;
    background-color: rgb(5, 179, 179);
    border-radius: 5%;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.56);
}

@media (min-width: 600px) {
    .OurGoal {
        padding-bottom: 100px;
    }
    .OurGoal h1 {
        font-size: 50px;
    }
    .OurGoal .subtext {
        font-size: 15px;
    }
    .OurGoal .overlay {
        width: 50%;
    }
    .OurGoal .iconAndText {
        width: 600px;
        height: 200px;
    }
    .OurGoal .iconAndText .slidingText {
        font-size: 25px;
        width: 100%;
        margin-right: 60px;
    }

    .OurGoal .icon {
        /* border: 5px blue solid; */
        width: 100px;
        height: 100px;
    }
    .OurGoal .icon svg {
        width: var(--icon-dimensions);
        height: var(--icon-dimensions);
    }
    .OurGoal .quote {
        font-size: 20px;
        padding-top: 20px;
    }
    .OurGoal button {
        font-size: 20px;
        padding: 10px;
    }
}