.OurGoal {
    text-align: center;
}

.OurGoal h1 {
    margin: 0;
}

.OurGoal hr {
    width: 50%;
    margin: 0 auto;
}

.OurGoal .container {
    background-color: grey;
    width: 100%;
    /* height: 300px; */
    border: thin orange dashed;
    position: relative;
}


.OurGoal .container .iconAndText {
    border: thin blue solid;
    display: flex;
    align-items: center;
}

.OurGoal .container .overlay {
    position: absolute;
    opacity: 1;
    display: flex;
    flex-direction: column;
    border: thin yellow double;
}

.OurGoal .image {
    width: 100%;
    height: 100%;
    /* opacity: 0.7; */
}


.OurGoal .container .iconAndText .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
}

.OurGoal .container .iconAndText p {
    /* color: white; */
    /* border: thin white solid; */
}

.OurGoal button {
    width: 80%;
    background-color: #cd2c00;
    border-radius: 20%;
    padding: 10px;
    margin: 10px auto;
}