.calendarTitle {
    padding-bottom: 10px;
    color: grey;
    font-size: 18px;
    margin: 0;
    text-align: start;
    margin-left: 2%;
  }

.calendarOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-shadow: 0 0 8px silver;
    margin: 5px 0;
    padding: 5px;
  }

.calendarContent {
    display: flex;
    max-width: 100%;
    flex-basis: 420px;
    flex-direction: column;
    flex-grow: 100;
    align-items: stretch;
    padding: 1%;
    }

.react-calendar__navigation__arrow {
    font-size: 16px;
    padding: 1px 15px;
    border: none;
    color: rgb(90, 90, 250);
}

.react-calendar__navigation__label {
    font-size: 14px;
    font-weight: bold;
    border: none;
    height: 24px;
}

.react-calendar__tile {
    font-size: 16px;
    margin-bottom: 6px;
    color: grey;
    border: none;
    background: none;
}

.react-calendar__tile--active {
    font-size: 18px;
    margin-bottom: 6px;
    border: none;
    text-decoration: none;
    color: white;
    width: 22px;
    height: 22px;
    background: rgb(90, 90, 250);
}

.react-calendar__month-view__weekdays__weekday {
    font-weight: bold;
    font-size: 14px;
}

.react-calendar__month-view__weekdays {
    margin-top: 10px;
    font-size: 10px;
    padding: 5px;
    }

.react-calendar__month-view__days {
    margin-top: 5px;
}

.calendarWorkoutContainerContent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.calendarWorkoutTitle {
    color: grey;
    margin-bottom: 1%;
    text-align: start;
    margin-left: 2%;
}

.calendarWorkoutButton {
    background-color: rgb(7, 168, 7);
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    padding: 3px 10px;
    border-radius: 35px;
    right: 3%;
    top: 18px;
}

.calendarExerciseList {
    text-align: left;
    margin: 3%;
}

.calendarExerciseItem {
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: 2px 2px 2px silver;
    margin-bottom: 5px;
    padding: 3px;
}

.itemDetailsName {
    padding: 0;
}

.itemDetailsReps {
    color: blue;
}


