.NearMeGyms .containerOne {
    padding: 0 20px;
    display: grid;
    height: 600px;
}

.NearMeGyms .switch-buttons {
    display: flex;
    margin: 10px;
}

.NearMeGyms .toggleQuery {
    font-size: 15px;
    padding: 5px;
    box-shadow: 2px 2px 2px silver;
}

.NearMeGyms .list {
    position: relative;
    text-align: left;		
    margin-top: 3%;
    margin-bottom: 0;
    overflow: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.NearMeGyms .listContent {
    display: grid;
    padding-left: 0;
}

.NearMeGyms .listContent-item {
    align-items: center;
    box-shadow: 2px 2px 2px silver;
    margin-bottom: 8px;
}

.NearMeGyms .map {
    height: 300px;
}

@media (min-width: 600px) {
    .NearMeGyms .containerOne {
        grid-template-columns: 2fr 1fr;
    }
    .NearMeGyms .map {
        height: 500px;
    }
    .NearMeGyms .list {
        height: 500px;
        margin: 0 10px;
        overflow: scroll;
    }
}