.IconAndText .icon {
    --icon-dimensions: 30px;
    color: lightgoldenrodyellow;
}

.IconAndText .slidingText {
    color: lightgoldenrodyellow;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

@media (min-width: 600px) {
    .IconAndText .slidingText {
        font-size: 18px;
    }

    .IconAndText .icon svg {
        width: var(--icon-dimensions);
        height: var(--icon-dimensions);
    }
}