.Timer {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.Timer .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 6px;
}

.Timer .timer {
    grid-column: 1 / 4;
    justify-self: center;
}

.Timer input {
    width: 37px;
}