.NearMe {
    padding: 0 20px;
    display: grid;
}

.NearMe .map {
    height: 300px;
}

.NearMe .switch-buttons {
    display: flex;
}

@media (min-width: 600px) {
    .NearMe {
        grid-template-columns: 2fr 1fr;
    }

    .NearMe .map {
        height: 500px;
    }

    .NearMe .buttons-and-list {
        padding: 0 10px;
    }
}
