.Profile {
    text-align: center;
}
.Profile .container {
    display: grid;
    padding: 0;
}

.Profile .container-content:first-child {
    background-image: url('../../common/images/profile-background-opacity-fixed.jpg');
    background-size: cover;
}
.Profile .profileBox {
    display: grid;
    height: 45vh;
    place-content: center;
}

.Profile .profileBox-photo img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-top: 2rem;
}

.Profile .profileBox-userInfo {
    margin-top: 1rem;
}

.Profile .PersonalInfo {
    padding: 1rem 0;
    display: flex;
}

.Profile .personalInfo-content {
    flex-basis: 1;
    display: grid;
    padding: 0 1rem;
    place-content: center;
}

.Profile .personalInfo-content > * {
    margin-top: 3px;
}

.Profile .Goal {
    border: .1rem solid #00aaef;
    border-radius: 2rem;
    margin: 0 1rem;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.Profile .goal > * {
    display: grid;
}

.Profile .container-content:nth-child(2) {
    margin-top: 2rem;
}

.Profile .container-content:last-child {
    display: grid;
    place-content: center;
    position: relative;
    margin: 0 1rem;
    margin-top: 2rem;
}

.Profile .text-bold {
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 600px) {
    .Profile .profileBox {
        height: 52vh;
    }

    .Profile .profileBox-photo img{
        height: 200px;
        width: 200px;
    }

    .Profile .PersonalInfo > * {
        margin: 0 5.5rem;
        font-size: 20px;
    }

    .Profile .text-bold {
        font-size: 24px;
    }

    .Profile .container-content:last-child {
        grid-template-columns: 30% 1fr;
        align-items: center;
    }
}

