.Login button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.Login input {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid;
}

.Login .logoBox {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.Login .logo {
    width: 150px;
}

.Login .container {
    display: grid;
}

.Login .inputBox-content {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.Login .loginButtons {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.Login .loginButtons > * {
    text-transform: uppercase;
}

.Login .loginButtons p {
    margin: 0 auto;
}

.Login .signInButton {
    font-size: 16px;
    padding: 10px;
    background-color: #00AAEF;
    border-radius: 3rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

.Login .btn-google {
    border-radius: 3rem;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color:#00AAEF;
    border: 1px solid #00AAEF;
}
