.BottomNavBarButton {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 8vh;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #eee;
}

.BottomNavBarButton.active {
  background-color: crimson;
  color: white;
}